/* All */

body {
    font-family: var(--balsamiq);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.jadwal {
    min-height: 100vh;
    padding: 10px 0;
    --color-1: #5b58e8;
    --color-2: #ffc600;
    --color-3: #fc3c5c;
    --color-4: #11d65d;
    --color-5: #ef3fd7;
}

/* tabel jadwal piket */
.jadwal .jadwal-piket {
    background-color: #ffffff;
    width: calc((100% / 3) - 30px);
    margin: 0 15px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto 20px;
}

/* tabel jadwal piket header */
.jadwal .piket-table-header {
    padding: 15px 30px;
}

.jadwal .style-1 .piket-table-header {
    background-color: var(--color-1);
}

.jadwal .style-2 .piket-table-header {
    background-color: var(--color-2);
}

.jadwal .style-3 .piket-table-header {
    background-color: var(--color-3);
}

.jadwal .style-4 .piket-table-header {
    background-color: var(--color-4);
}

.jadwal .style-5 .piket-table-header {
    background-color: var(--color-5);
}

.jadwal .piket-table-header h3 {
    font-size: 30px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}

/* isi tabel jadwal piket siswa*/
.jadwal .piket-hari-siswa {
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.jadwal .piket-hari-siswa ul li:last-child {
    margin-bottom: 0;
}
.jadwal .piket-hari-siswa ul li i {
    display: flex;
    height: 20px;
    width: 20px;
    background-color: #bbbbbb;
    color: #ffffff;
    justify-content: space-between;
    border-radius: 50%;
    font-size: 13px;
    position: absolute;
    left: 0;
    top: 3px;
}

.jadwal .piket-hari-siswa ul li {
    text-align: center;
    font-weight: 300;
    color: #000000;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 0.1px solid rgb(52, 46, 55, 10%);
    padding-bottom: 10px;
}

/* guru - radio pemilihan piket/tidak */
.radio-input input[type="radio"] {
    display: none;
}

.radio-input input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.radio-input input[type="radio"] + label span svg {
    opacity: 0;
    transition: all 0.3s ease;
}

.radio-input input[type="radio"][id$="_color-1"] + label span,
.radio-input input[type="radio"][id$="_color-2"] + label span {
    background-color: #eee;
    border: 2px solid #342e37;
    margin-right: 10px;
}

/* warna radio kalau tidak piket */
.radio-input input[type="radio"][id$="_color-2"]:checked + label span {
    background-color: #fc3c5c;
}

/* warna radio kalau tidak piket */
.radio-input input[type="radio"][id$="_color-1"]:checked + label span {
    background-color: var(--blue);
}

.radio-input input[type="radio"]:checked + label span svg {
    opacity: 1;
}

/* button submit */
.piket .btn-submit {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--blue);
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
    font-size: 12px;
    width: 8vw;
    margin-left: auto;
    z-index: 200;
}

.piket .btn-submit.clicked {
    background-color: #ccc !important;
}

/* isi piket tabel guru */
.jadwal .piket-hari-guru {
    padding: 0 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.jadwal .piket-hari-guru ul li {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    color: #000000;
    margin-bottom: 15px;
    position: relative;
    border-bottom: 0.1px solid rgb(52, 46, 55, 10%);
    padding-bottom: 10px;
}

/*responsive*/
@media (max-width: 991px) {
    .jadwal .jadwal-piket {
        width: calc(50% - 30px);
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .jadwal .jadwal-piket {
        width: calc(100% - 30px);
    }

    .piket .btn-submit {
        width: 80px;
    }
}
